<div id="container">
  <div id="side" class="verticalLine">
    <div >
     <div id="search" style="margin-top: -80px; margin-left:-50px">
        
        <input type="text" id="myInput" style="font-size:medium;" placeholder="Nhập tên sách"
          title="Type in a name">
        <button class="btn btn-outline-dark my-1 my-sm-0 mx-2" type="submit">Tìm</button>
      </div>

        <div id="main" style="margin-left: -180px; width:600px">
          <div class="infor" id="infor" style="width:750px; height: 400px; ">
            <div class="form" id="form-1" style="width:100%">
              <table class="table table-bordered table-light" style="width:100%; height: 100%;" id="myTable">
                <thead style="text-align:center">
                  <tr>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody >
<tr>
  {{#each listBook}}
        <tr>
          <td>{{BookName}}</td>
          <td>{{Author}}</td>
          
          <td>
            <input type="number" min="1" step="1" style="width:100px; font-size:20px; margin:-5px -5px;" id="{{idBook}}"/>
          </td>
      <td style="padding:5px">
        <button class="btn btn-outline-dark my-0 my-sm-0" onclick="insert_Row(`{{BookName}}`, `{{Author}}`, `{{idBook}}`)">Thêm</button>
      </td>    
        </tr>
      {{/each }}

    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      {{#if check1}}
      <span>số lượng nhập phải lớn hơn {{minAdd}}</span>
      {{/if}}

      {{#if check2}}
      <span>số lượng tồn của sách phải nhỏ hơn {{minInventory}}</span>
      {{/if}}

      <button class="btn ht" type="button" id="final">Hoàn tất</button>
      
    </div>
  </div>




  <div id="main">
    <h2>DANH SÁCH SÁCH ĐÃ CHỌN</h2>
    <hr id="hr2" />
    <div class="infor" id="infor">
      <div class="form" id="form-1">
        <table class="table table-bordered table-light" id="sampleTable">
          <thead style="text-align:center">
            <tr>
              {{!-- <th scope="col">ID</th> --}}
              <th scope="col">Tên</th>
              <th scope="col">Tác giả</th>
              <th scope="col">Số lượng</th>
              <th scope="col"><a>Bỏ</a></th> 
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<script>
  $('#sampleTable').on('click', 'button', function(e){
   $(this).closest('tr').remove()
})
  var array = [];
  var count = 0;
  async function insert_Row(BookName, Author, idBook) {

    var data1 = BookName;
    var data2 = Author;
    var data3 = document.getElementById(`${idBook}`).value;

    if(data3<1)
    {
      alert(`Số lượng sách phải lớn hơn 0`);
      return;
    }

    var check = false;
    var check2 = false;

    await $.getJSON(`/manager/book/is_available?book=${data1}|${data2}`, function (data) {
      if (data === -1) {
        check = true;
      }
      else if (data > {{ minInventory }} && {{minInventory}} != -1){
      check2 = true;
    }
  })

  if (check == true) {
    alert("Sách chưa có trong kho");
    return;
  }

  if (check2 == true) {
    alert('Lượng tồn của sách lớn hơn quy định');
    return;
  }

  if (+data3 < +{{ minAdd }} && {{minAdd}} != -1)
  {
    alert("Số lượng nhập phải lớn hơn" + {{ minAdd }});
  return;
    }

const n = array.length;
  for (var i = 0; i < n; i++) {
    if (array[i].BookName === data1 && array[i].Author === data2) {
      array[i].Quantity = +array[i].Quantity + +data3;
      id = data1 + data2;
      document.getElementById(`${id}`).innerText = array[i].Quantity;
      return;
    }
  }

  
    var x = document.getElementById('sampleTable').insertRow(1);
  var a = x.insertCell(0);
  var b = x.insertCell(1);
  var c = x.insertCell(2);
  var e = x.insertCell(3);
  a.innerHTML = data1;
  b.innerHTML = data2;
  c.innerHTML = `<span id="${data1+data2}">${data3}</span>`;
  e.innerHTML = `<button class="btn btn-outline-dark my-0 my-sm-0" onclick="deleteRowBook('${data1}', '${data2}', ${data3})">Bỏ</button>`
  

  array.push({ BookName: data1, Author: data2, Quantity: +data3});
  }

function deleteRowBook(BookName, Author, Quantity){
    id = BookName + Author;
    q = document.getElementById(`${id}`).textContent;
    for(var i = 0; i<array.length; i++){
      if(array[i].BookName == BookName && array[i].Author == Author){
        array.splice(i,1);
        break;
      }
    }
}

$('#final').on('click', e => {

    e.preventDefault();
    const dataJS = JSON.stringify({ array });
if(array.length==0){
  alert("Chưa có sách trong hóa đơn. Vui lòng nhập sách!");
  return;
}
alert("Thêm thành công");
    fetch("/manager/book/add_book_exist",
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },

        method: "POST",
        body: dataJS,
      
      }).then( res=>{

        window.location.href = '/manager/home'
      }
      )
  });       

</script>